@import url(normalize.css);
@import url(slick.css);
@import url(header_slider.css);
@import url(main_info.css);
@import url(characteristics.css);
@import url(slider.css);

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #131313;
}

.container {
  width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}